.home{
    padding:0;
    background: rgb(0,0,0,.3);
 }
.home .swiper-slide{
min-height: 100vh;
background-size: cover !important;
background-position: center !important;
position: relative;
z-index: 0;
display: flex;
align-items: center;
justify-content: center;
}
.home .swiper-slide::before{
   content: ' ';
   position: absolute;
   top: 0; left: 0;
   height: 100%;
   width: 100%;
   background: var(--dark-bg);
   z-index: -1;

}

.home .swiper-slide .content {
text-align: center;
width: 70rem;
}
.home .swiper-slide .content span{
   font-size:3rem;
   display: block;
   color:rgb(253, 253, 253);
   padding-bottom: 5rem;
}

.home .swiper-slide .content h3{
   font-size: 5rem;
   text-transform: uppercase;
   color: wheat;
   text-shadow: 0 .5rem 1rem  rgba(0,0,0,.7);
   line-height: 1;
}
.btn{
       margin-top: 1rem;
       display: inline-block;
       background: #da9444;
       color: rgb(230, 222, 222);
       font-size: 2rem;
       cursor: pointer;
       padding: 1rem 2rem;

}
.btn:hover{
   letter-spacing: 0.5rem;

}
.swiper-button-next,
.swiper-button-prev{
height: 5rem;
width: 5rem;
line-height: 5rem;
background: #f5f5f5;
color: #222;

}

.swiper-button-next:hover,
.swiper-button-prev:hover{
   background: #583002;
}

.swiper-button-next::after,
.swiper-button-prev::after{
   font-size: 2rem;
}





